saves/
system/
.vs/
Debug-vs2012/
Debug-vs2012x64/
Debug-vs2013/
Debug-vs2013x64/
Debug-vs2015/
Debug-vs2015x64/
Debug-vs2017/
Debug-vs2017x64/
Debug-vs2019/
Debug-vs2019x64/
Debug-vs2022/
Debug-vs2022x64/
Debug-linux/
Debug-macos/
Debug-msys/
Release-vs2012/
Release-vs2012x64/
Release-vs2013/
Release-vs2013x64/
Release-vs2015/
Release-vs2015x64/
Release-vs2017/
Release-vs2017x64/
Release-vs2019/
Release-vs2019x64/
Release-vs2022/
Release-vs2022x64/
Release-linux/
Release-macos/
Release-msys/
*.ncb
*.opt
*.plg
*.aps
*.ipch
*.suo
*.user
*.sdf
*.opensdf
*.cfg
*.dll
*.so
*.dylib
*.cfg
