name: Build
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      versionstring:
        description: 'Version String'
        default: ''
        required: false
        type: string

jobs:
  build-win64-msvc:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
      with:
        path: main
    - uses: microsoft/setup-msbuild@v2
    - name: Checkout Deps
      run: |
        git clone --single-branch --branch main --depth 1 https://github.com/backgamon/dosbox-pure-unleashed.git dosbox-pure
        git clone --single-branch --branch main --depth 1 https://github.com/${{ github.repository_owner }}/ZillaLib.git ZillaLib
    - if: ${{ github.event.inputs.versionstring == '' }}
      run: perl -i -pe "s/\"(.*)\"/\"\1-${GITHUB_SHA::7}\"/g" dosbox-pure/dosbox_pure_ver.h
      shell: bash
    - if: ${{ github.event.inputs.versionstring != '' }}
      run: perl -i -pe "s/\".*\"/\"${{ github.event.inputs.versionstring }}\"/g" dosbox-pure/dosbox_pure_ver.h
      shell: bash
    - run: echo "::add-matcher::main/.github/workflows/msvc-problem-matcher.json"
    - name: Build
      run: |
        cd main
        MSBuild.exe DOSBoxPure-vs.vcxproj /p:Configuration=ReleaseGLCORE /p:Platform=x64
    - uses: actions/upload-artifact@v4
      with:
        name: dosbox-pure-unleashed_win64
        path: main/Release-vs2022x64/DOSBoxPure.exe

  build-win32-msvc:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
      with:
        path: main
    - uses: microsoft/setup-msbuild@v2
    - name: Checkout Deps
      run: |
        git clone --single-branch --branch main --depth 1 https://github.com/backgamon/dosbox-pure-unleashed.git dosbox-pure
        git clone --single-branch --branch main --depth 1 https://github.com/${{ github.repository_owner }}/ZillaLib.git ZillaLib
    - if: ${{ github.event.inputs.versionstring == '' }}
      run: perl -i -pe "s/\"(.*)\"/\"\1-${GITHUB_SHA::7}\"/g" dosbox-pure/dosbox_pure_ver.h
      shell: bash
    - if: ${{ github.event.inputs.versionstring != '' }}
      run: perl -i -pe "s/\".*\"/\"${{ github.event.inputs.versionstring }}\"/g" dosbox-pure/dosbox_pure_ver.h
      shell: bash
    - run: echo "::add-matcher::main/.github/workflows/msvc-problem-matcher.json"
    - name: Build
      run: |
        cd main
        MSBuild.exe DOSBoxPure-vs.vcxproj /p:Configuration=ReleaseGLCORE /p:Platform=Win32
    - uses: actions/upload-artifact@v4
      with:
        name: dosbox-pure-unleashed_win32
        path: main/Release-vs2022/DOSBoxPure.exe

  build-linux_x64:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        path: main
    - name: Checkout Deps
      run: |
        git clone --single-branch --branch main --depth 1 https://github.com/backgamon/dosbox-pure-unleashed.git dosbox-pure
        git clone --single-branch --branch main --depth 1 https://github.com/${{ github.repository_owner }}/ZillaLib.git ZillaLib
    - if: ${{ github.event.inputs.versionstring == '' }}
      run: perl -i -pe "s/\"(.*)\"/\"\1-${GITHUB_SHA::7}\"/g" dosbox-pure/dosbox_pure_ver.h
    - if: ${{ github.event.inputs.versionstring != '' }}
      run: perl -i -pe "s/\".*\"/\"${{ github.event.inputs.versionstring }}\"/g" dosbox-pure/dosbox_pure_ver.h
    - run: echo "::add-matcher::main/.github/workflows/gcc-problem-matcher.json"
    - name: Build
      if: ${{ github.event.inputs.versionstring == '' }}
      run: |
        sudo apt install -y libgl1-mesa-dev libasound2-dev libxxf86vm-dev libxrandr-dev
        cd main
        make linux-release -j4 ZL_VIDEO_OPENGL_CORE=1
        cp Release-linux/DOSBoxPure_x86_64 Release-linux/DOSBoxPure
        mv Release-linux Release-linux-glcore
    - name: Build for release
      if: ${{ github.event.inputs.versionstring != '' }}
      uses: addnab/docker-run-action@v3
      with:
        image: ubuntu:14.04
        options: -v ${{ github.workspace }}:/work
        run: |
          sudo apt-get update
          sudo apt-get -y install git make g++ libgl1-mesa-dev libasound2-dev libxxf86vm-dev libxrandr-dev
          cd /work/main
          make linux-release -j4 ZL_VIDEO_OPENGL_CORE=1
          cp Release-linux/DOSBoxPure_x86_64 Release-linux/DOSBoxPure
          mv Release-linux Release-linux-glcore
          rm -rf ../ZillaLib/Linux/build-release/
          make linux-release -j4 ZL_VIDEO_OPENGL_ES2=1
          cp Release-linux/DOSBoxPure_x86_64 Release-linux/DOSBoxPure
          mv Release-linux Release-linux-gles
    - uses: actions/upload-artifact@v4
      with:
        name: dosbox-pure-unleashed_linux_x64_glcore
        path: main/Release-linux-glcore/DOSBoxPure
    - if: ${{ github.event.inputs.versionstring != '' }}
      uses: actions/upload-artifact@v4
      with:
        name: dosbox-pure-unleashed_linux_x64_gles
        path: main/Release-linux-gles/DOSBoxPure

  build-linux_arm64:
    runs-on: ubuntu-24.04-arm
    steps:
    - uses: actions/checkout@v4
      with:
        path: main
    - name: Checkout Deps
      run: |
        git clone --single-branch --branch main --depth 1 https://github.com/backgamon/dosbox-pure-unleashed.git dosbox-pure
        git clone --single-branch --branch main --depth 1 https://github.com/${{ github.repository_owner }}/ZillaLib.git ZillaLib
    - if: ${{ github.event.inputs.versionstring == '' }}
      run: perl -i -pe "s/\"(.*)\"/\"\1-${GITHUB_SHA::7}\"/g" dosbox-pure/dosbox_pure_ver.h
    - if: ${{ github.event.inputs.versionstring != '' }}
      run: perl -i -pe "s/\".*\"/\"${{ github.event.inputs.versionstring }}\"/g" dosbox-pure/dosbox_pure_ver.h
    - run: echo "::add-matcher::main/.github/workflows/gcc-problem-matcher.json"
    - name: Build
      if: ${{ github.event.inputs.versionstring == '' }}
      run: |
        sudo apt install -y libgl1-mesa-dev libasound2-dev libxxf86vm-dev libxrandr-dev
        cd main
        make linux-release -j4 ZL_VIDEO_OPENGL_ES2=1
        cp Release-linux/DOSBoxPure_arm_64 Release-linux/DOSBoxPure
        mv Release-linux Release-linux-gles
    - name: Build for release
      if: ${{ github.event.inputs.versionstring != '' }}
      run: |
        sudo apt install -y libgl1-mesa-dev libasound2-dev libxxf86vm-dev libxrandr-dev
        cd main
        make linux-release -j4 ZL_VIDEO_OPENGL_CORE=1
        cp Release-linux/DOSBoxPure_arm_64 Release-linux/DOSBoxPure
        mv Release-linux Release-linux-glcore
        rm -rf ../ZillaLib/Linux/build-release/
        make linux-release -j4 ZL_VIDEO_OPENGL_ES2=1
        cp Release-linux/DOSBoxPure_arm_64 Release-linux/DOSBoxPure
        mv Release-linux Release-linux-gles
    - if: ${{ github.event.inputs.versionstring != '' }}
      uses: actions/upload-artifact@v4
      with:
        name: dosbox-pure-unleashed_linux_arm64_glcore
        path: main/Release-linux-glcore/DOSBoxPure
    - uses: actions/upload-artifact@v4
      with:
        name: dosbox-pure-unleashed_linux_arm64_gles
        path: main/Release-linux-gles/DOSBoxPure

  build-macos-x64:
    runs-on: macos-13
    steps:
    - uses: actions/checkout@v4
      with:
        path: main
    - name: Checkout Deps
      run: |
        sudo xcode-select -s /Applications/Xcode_14.1.app
        git clone --single-branch --branch main --depth 1 https://github.com/backgamon/dosbox-pure-unleashed.git dosbox-pure
        git clone --single-branch --branch main --depth 1 https://github.com/${{ github.repository_owner }}/ZillaLib.git ZillaLib
    - if: ${{ github.event.inputs.versionstring == '' }}
      run: perl -i -pe "s/\"(.*)\"/\"\1-${GITHUB_SHA::7}\"/g" dosbox-pure/dosbox_pure_ver.h
    - if: ${{ github.event.inputs.versionstring != '' }}
      run: perl -i -pe "s/\".*\"/\"${{ github.event.inputs.versionstring }}\"/g" dosbox-pure/dosbox_pure_ver.h
    - run: echo "::add-matcher::main/.github/workflows/gcc-problem-matcher.json"
    - name: Build
      run: |
        cd main
        make macos-release -j4
    - uses: actions/upload-artifact@v4
      with:
        name: dosbox-pure-unleashed_macos_x64
        path: main/Release-macos/DOSBoxPure.app.zip

  build-macos-arm64:
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v4
      with:
        path: main
    - name: Checkout Deps
      run: |
        sudo xcode-select -s /Applications/Xcode_15.0.1.app
        git clone --single-branch --branch main --depth 1 https://github.com/backgamon/dosbox-pure-unleashed.git dosbox-pure
        git clone --single-branch --branch main --depth 1 https://github.com/${{ github.repository_owner }}/ZillaLib.git ZillaLib
    - if: ${{ github.event.inputs.versionstring == '' }}
      run: perl -i -pe "s/\"(.*)\"/\"\1-${GITHUB_SHA::7}\"/g" dosbox-pure/dosbox_pure_ver.h
    - if: ${{ github.event.inputs.versionstring != '' }}
      run: perl -i -pe "s/\".*\"/\"${{ github.event.inputs.versionstring }}\"/g" dosbox-pure/dosbox_pure_ver.h
    - run: echo "::add-matcher::main/.github/workflows/gcc-problem-matcher.json"
    - name: Build
      run: |
        cd main
        make macos-release -j4
    - uses: actions/upload-artifact@v4
      with:
        name: dosbox-pure-unleashed_macos_arm64
        path: main/Release-macos/DOSBoxPure.app.zip
